<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post a Review</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      html,
      body {
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
      }
      ::selection {
        background: #4d1434;
        color: #fff;
      }
      .wrapper {
        overflow: hidden;
        width: 500px;
        background: #fff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
      }
      .wrapper .title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
      }
      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .form-inner form {
        width: 100%;
      }
      .form-inner .field {
        margin-top: 20px;
        position: relative;
        width: 100%;
      }
      .field label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
        font-weight: bold;
      }

      .field textarea {
        height: 50px;
        width: 100%;
        outline: none;
        padding: 15px;
        border: 1px solid lightgrey;
        border-radius: 25px;
        transition: all 0.3s ease;
        font-size: 16px;
      }
      .form-inner form .field select {
        height: 50px; /* Adjust height */
        width: 400px;
        outline: none;
        padding-left: 15px;
        border-radius: 15px;
        border: 1px solid lightgrey;
        border-bottom-width: 2px;
        font-size: 17px;
        transition: all 0.3s ease;
        resize: none; /* Disable resizing */
      }
      .field textarea {
        resize: none;
        height: 100px;
      }
      .field input:focus,
      .field textarea:focus {
        border-color: #4d1434;
      }
      .stars {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        direction: rtl; /* Add this to reverse the order of stars */
      }
      .stars input[type="radio"] {
        display: none;
      }
      .stars label {
        font-size: 30px;
        color: lightgrey;
        cursor: pointer;
        transition: color 0.2s;
      }
      .stars label:hover,
      .stars label:hover ~ label,
      .stars input[type="radio"]:checked ~ label {
        color: #ffdd57;
      }
      .stars input[type="radio"]:checked + label {
        color: #ffdd57;
      }
      .btn {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        position: relative;
      }
      .btn-layer {
        height: 100%;
        width: 100%;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
      }
      .btn input[type="submit"] {
        height: 100%;
        width: 100%;
        border: none;
        background: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        z-index: 1;
        position: relative;
      }
      .btn input[type="submit"]:hover {
        opacity: 0.9;
      }
    </style>
  </head>
  <%- include('../nav-footer/navbardisplay') %>
  <body>
    <div class="wrapper">
      <div class="title">Post a Review</div>
      <div class="form-container">
        <div class="form-inner">
          <form
            action="/homesaver/submit-review?businessId=<%=business._id%>&userId=<%=userId%>&appointmentId=<%=appointmentId%>"
            method="post"
          >
            <div class="field">
              <div class="stars">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" title="5 stars">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="4 stars">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="3 stars">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="2 stars">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="1 star">&#9733;</label>
              </div>
            </div>
            <div class="field">
              <label for="service">Service</label>
              <select name="service" required>
                <option value="" selected>Select Service</option>
                <% business.services.forEach(function(service) { %>
                <option value="<%= service.name %>"><%= service.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="field">
              <label for="description">Description</label>
              <textarea id="description" name="description" required></textarea>
            </div>
            <div class="btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Submit Review" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
