<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <style>
      /* You can add your own CSS styles here for the grid layout */
      .service-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }

      .service-item {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        width: 200px; /* Set a fixed width for consistent item sizes */
      }

      .service-item:hover {
        background-color: #e0e0e0;
      }
      body {
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
      }
      .navpush {
        margin-top: 101px;
      }
      h1 {
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <%- include('../nav-footer/navbardisplay') %>
  <body>
    <div class="navpush">
      <h1>Services Offered</h1>
      <div class="service-grid">
        <% Object.keys(minprice).forEach(function(key) { %> <% if
        (maxprice[key]) { %>
        <div class="service-item">
          <h2><%= key %></h2>
          <p>₹<%= minprice[key] %>-₹<%= maxprice[key] %></p>
        </div>
        <% } else { %>
        <div class="service-item">
          <h2><%= key %>:</h2>
          <p>Price: <%= minprice[key] %></p>
        </div>
        <% } %> <% }); %>
      </div>
    </div>
  </body>
</html>
