<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Appointment</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      html,
      body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center; /* Aligning horizontally */
        align-items: center; /* Aligning vertically */
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
      }
      .containerb {
        display: flex;
        flex-direction: column; /* Align items in a column */
        align-items: center; /* Align items to the center horizontally */
        width: 80%;
      }
      .wrapper {
        position: relative;
        display: flex;
        flex-direction: column; /* Aligning items in a column */
        align-items: center; /* Aligning items to the center horizontally */
        width: 100%; /* Adjusting width to fill the screen */
        background: #fff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        margin-top: 20px; /* Adding margin to separate the wrappers */
      }
      .business-details1 {
        width: 100%; /* Adjusting width */
        background: #4d1434; /* Adjusting background color */
        border-radius: 15px;
        padding: 40px; /* Adjusting padding */
        color: white;
        text-align: center;
        font-size: 20px; /* Adjusting font size */
        line-height: 1.5; /* Adjusting line height */
      }
      .business-details2 {
        text-align: left; /* Align text to the left */
        width: 100%;
        background: #4d1434;
        border-radius: 15px;
        padding: 40px;
        color: white;
        font-size: 20px;
        line-height: 1.5;
      }
      .form-wrapper {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        z-index: 2;
        width: 450px;
        height: 350px;
      }

      .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        cursor: pointer;
        z-index: 2;
      }
      .close-button:hover {
        color: #4d1434;
      }
      .form-inner form {
        width: 100%;
        z-index: 2;
      }
      .form-inner form .field {
        height: 50px;
        width: 100%;
        margin-top: 20px;
        z-index: 2;
      }
      .form-inner form .field input[type="date"],
      .form-inner form .field textarea,
      .form-inner form .field select {
        height: 50px; /* Adjust height */
        width: 100%;
        outline: none;
        padding-left: 15px;
        border-radius: 15px;
        border: 1px solid lightgrey;
        border-bottom-width: 2px;
        font-size: 17px;
        transition: all 0.3s ease;
        resize: none; /* Disable resizing */
        z-index: 2;
      }
      .form-inner form .field input:focus::placeholder,
      .form-inner form .field select:focus::placeholder {
        color: #4d1434;
      }
      .form-inner form .field select:hover option {
        background-color: transparent;
        color: inherit;
      }
      .form-inner form .field select:hover {
        outline: none;
      }
      .show-form-button {
        background: #4d1434; /* Adjusting button color */
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        z-index: 2;
      }
      /* Add a class to darken the page */
      .darken {
        background: rgba(0, 0, 0, 0.5); /* Darken the background */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* Ensure it's above other elements */
      }
      /* Star rating */
      .review p {
        font-size: 18px;
        color: black; /* Adjust size as needed */
      }
      .review p .star {
        color: gold; /* Gold color for filled stars */
        font-size: 24px; /* Larger font size for stars */
      }
      .review {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #e0e0e0;
        text-align: left; /* Align text inside reviews to the left */
      }
      .navpush {
        margin-top: 101px;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center; /* Aligning horizontally */
        align-items: center; /* Aligning vertically */
        display: flex;
      }
    </style>
  </head>
  <%- include('../nav-footer/navbardisplay') %>
  <body>
    <div class="navpush">
      <div class="containerb">
        <!-- Business details and appointment button -->
        <div class="wrapper">
          <div class="business-details1">
            <h2><%= business.name %></h2>
            <p><%= business.description %></p>
          </div>
          <%if(user){%>
          <button class="show-form-button" style="z-index: 1" onclick="showForm()">
            Book Appointment
          </button><%}%>
        </div>
        <!-- Reviews Section moved here to ensure it appears below business details -->
        <div class="wrapper">
          <div class="business-details2">
            <h2>Reviews</h2>
            <% if (reviews.length > 0) { %>
              <% reviews.forEach(function(review) { %>
                <div class="review">
                  
                  <p>
                    <% for (let i = 0; i < review.rating; i++) { %> &#9733; <% } %>
                    <% for (let i = review.rating; i < 5; i++) { %> &#9734; <% } %>
                  </p>
                  <p>Service - <%= review.service %></p></br>
                  <p><%= review.description %></p>
                </div>
              <% }) %>
            <% } else { %>
              <p>No reviews available.</p>
            <% } %>
          </div>
        </div>
        <div id="darkOverlay" class="darken" style="display: none"></div>
        <div class="form-wrapper" id="form-wrapper">
          <div class="form-inner">
            <span class="close-button" onclick="closeForm()">×</span>
            <form action="/homesaver/business/booking" method="post" autocomplete="off">
              <input name="userId" id="userId" type="hidden" value="<%= user===null ? null : user._id %>" />
              
              <div class="field">
                <input name="date" type="date" id="bookingDate" required />
              </div>
              
              <div class="field">
                <textarea name="issue" rows="4" placeholder="Describe the issue" required></textarea>
              </div>
              
              <div class="field">
                <select name="service" required>
                  <option value="" selected>Select Service</option>
                  <% business.services.forEach(function(service) { %>
                  <option value="<%= service.name %>"><%= service.name %></option>
                  <% }); %>
                </select>
              </div>
              
              <input type="hidden" name="uname" id="uname" value="<%= user===null ? null : user.name %>" />
              <input type="hidden" name="bname" id="bname" value="<%= business.name %>" />
              
              <div class="field">
                <input type="submit" value="Book Now" class="show-form-button" />
              </div>
              
              <span id="Confirm"></span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
       document.addEventListener('DOMContentLoaded', function () {
    var today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
    document.getElementById('bookingDate').setAttribute('min', today); // Set the min attribute to today's date
  });
      function showForm() {
        document.getElementById("form-wrapper").style.display = "block";
        document.getElementById("darkOverlay").style.display = "block"; // Show the dark overlay
      }
      function closeForm() {
        document.getElementById("form-wrapper").style.display = "none";
        document.getElementById("darkOverlay").style.display = "none"; // Hide the dark overlay
      }
    </script>
  </body>
</html>